# Exercise 1 - introducing correlations

Let's look at the relationship between FERTILITY and LIFE EXPECTANCY. For this we'll use the gapminder dataset

In [1]:
install.packages('dplyr')
install.packages('dslabs')
install.packages('ggplot2')

Installing package into ‘/usr/local/spark-3.5.2-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/spark-3.5.2-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/spark-3.5.2-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

In [2]:
library(dplyr)
library(dslabs)
library(ggplot2)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
data(gapminder)
head(gapminder)

  country             year infant_mortality life_expectancy fertility
1 Albania             1960 115.40           62.87           6.19
2 Algeria             1960 148.20           47.50           7.65
3 Angola              1960 208.00           35.98           7.32
4 Antigua and Barbuda 1960     NA           62.97           4.43
5 Argentina           1960  59.87           65.39           3.11
6 Armenia             1960     NA           66.86           4.55
  population gdp          continent region
1  1636054             NA Europe    Southern Europe
2 11124892    13828152297 Africa    Northern Africa
3  5270844             NA Africa    Middle Africa
4    54681             NA Americas  Caribbean
5 20619075   108322326649 Americas  South America
6  1867396             NA Asia      Western Asia

In [4]:
str(gapminder)

'data.frame':	10545 obs. of  9 variables:
 $ country         : Factor w/ 185 levels "Albania","Algeria",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ year            : int  1960 1960 1960 1960 1960 1960 1960 1960 1960 1960 ...
 $ infant_mortality: num  115.4 148.2 208 NA 59.9 ...
 $ life_expectancy : num  62.9 47.5 36 63 65.4 ...
 $ fertility       : num  6.19 7.65 7.32 4.43 3.11 4.55 4.82 3.45 2.7 5.57 ...
 $ population      : num  1636054 11124892 5270844 54681 20619075 ...
 $ gdp             : num  NA 1.38e+10 NA NA 1.08e+11 ...
 $ continent       : Factor w/ 5 levels "Africa","Americas",..: 4 1 1 2 2 3 2 5 4 3 ...
 $ region          : Factor w/ 22 levels "Australia and New Zealand",..: 19 11 10 2 15 21 2 1 22 21 ...

Let's restrict our question a bit, and start by looking just at the year 2000

In [5]:
data2000 <- gapminder %>%
filter(year==2000)
str(data2000)

'data.frame':	185 obs. of  9 variables:
 $ country         : Factor w/ 185 levels "Albania","Algeria",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ year            : int  2000 2000 2000 2000 2000 2000 2000 2000 2000 2000 ...
 $ infant_mortality: num  23.2 33.9 128.3 13.8 18 ...
 $ life_expectancy : num  74.7 73.3 52.3 73.8 74.2 ...
 $ fertility       : num  2.38 2.51 6.84 2.32 2.48 1.3 1.87 1.76 1.37 2.05 ...
 $ population      : num  3121965 31183658 15058638 77648 37057453 ...
 $ gdp             : num  3.69e+09 5.48e+10 9.13e+09 8.03e+08 2.84e+11 ...
 $ continent       : Factor w/ 5 levels "Africa","Americas",..: 4 1 1 2 2 3 2 5 4 3 ...
 $ region          : Factor w/ 22 levels "Australia and New Zealand",..: 19 11 10 2 15 21 2 1 22 21 ...

Let's start by just looking at the correlation. The best way to start is to visualise the relationship

In [ ]:
ggplot(data2000,
       aes(x = fertility,
          y = life_expectancy)) +
geom_point()

In [ ]:
cor.test(data2000$life_expectancy, data2000$fertility)

Let's look at another question. What about the relationship between population and life expectancy?

Let's start by just looking at the correlation. The best way to start is to visualise the relationship

In [ ]:
ggplot(data2000,
       aes(x = population,
           y = life_expectancy)) +
geom_point()

This plot is hard to read due to the two very high data points, let's censor them

In [ ]:
ggplot(data2000,
    aes(x = population,
           y = life_expectancy)) +
geom_point() + 
xlim(0, 2e8)

In [ ]:
cor.test(data2000$life_expectancy, data2000$population)

Let's apply linear models to both of these relationships

In [ ]:
fertility_model <- lm(life_expectancy ~ fertility, data2000)
summary(fertility_model)

There seems to be a significant correlation
For every increase in x you have minus -4.45
If a country is more fertile, the populations have shorter life expectancy

In [ ]:
population_model <- lm(life_expectancy ~ population, data2000)
summary(population_model)

R-squared: Shows how much of the variance the model explains (the higher the better)

# Exercise 2 - interpreting linear models

Let's go back to last week. We had a question about the influence of number of cylinders on fuel economy. Let's load the data and return to that question

In [ ]:
install.packages('fueleconomy')

In [ ]:
library(fueleconomy)

In [ ]:
data(vehicles)
str(vehicles)

Let's isolate the relevant data again for Audi and VW midsizes

In [ ]:
Audi_VW <- vehicles %>%
filter(make == "Audi" & class == "Midsize Cars" | make == "Volkswagen" & class == "Midsize Cars")

OR "|" skrives alt + i

In [ ]:
ggplot(Audi_VW,
       aes (x = cyl,
            y= cty)) +
geom_point(position = 'jitter') +
facet_wrap( ~make)

Let's use linear models to investigate the effect of number of cylinders on fuel economy in both makes

In [ ]:
summary(lm(cty ~cyl, data = subset(Audi_VW, make == "Volkswagen")))

In [ ]:
summary(lm(cty ~cyl, data = subset(Audi_VW, make == "Audi")))

Let's look at this INTERACTION between variables WITHIN THE MODEL

In [ ]:
summary(lm(cty ~ cyl * make, Audi_VW))

Let's go back to this question about which model is better. We can do this using model comparison. Let's build a model without make, and one with, and see what we learn

In [ ]:
m1 <- lm(cty ~ cyl, Audi_VW)
m2 <- lm(cty ~ cyl + make, Audi_VW)
m3 <- lm(cty ~ cyl * make, Audi_VW)

anova(m1, m2, m3)

# Exercise 3 - non-linear predictors

Lets look at the relationship infant mortality and life expectancy in the year 2000 what do you notice?

In [ ]:
ggplot(data2000,
       aes (x = infant_mortality,
            y = life_expectancy)) +
geom_point()

In [ ]:
data2000$infant_mortality2 <- data2000$infant_mortality^2

In [ ]:
str(data2000)

In [ ]:
ggplot(data2000,
       aes (x = infant_mortality2,
            y = life_expectancy)) +
geom_point()

In [ ]:
m1 <- lm(life_expectancy ~ infant_mortality, data2000)
m2 <- lm(life_expectancy ~ infant_mortality + infant_mortality2, data2000)

anova(m1, m2)