# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [11]:
hello = "hello world"
number_five = "5"

In [18]:
type(hello)

str

In [5]:
dir(hello)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
hello.title()

'Hello World'

In [20]:
hello.split()

['hello', 'world']

## Integers

In [2]:
myint = 78
myotherint = -20

## Floats

In [3]:
myfloat = 345.78
myotherfloat = -987654.2

## Lists

In [71]:
fruits = ["oranges", "pears", "berries", 4]
dairy = ["milk", "creamer", "cheese"]
shopping = [fruits, dairy]
shopping

[['oranges', 'pears', 'berries', 4], ['milk', 'creamer', 'cheese']]

In [72]:
fruits

['oranges', 'pears', 'berries', 4]

In [22]:
fruits[-1]

4

In [79]:
fruits[0] = "apples"

In [80]:
fruits

['apples', 'pears', 'berries', 4, 'cherries']

In [25]:
shopping[0][1]

'pears'

## Tuples

In [28]:
veggie_prices = ("broccoli", "kale", "cucumber")
veggie_prices

('broccoli', 'kale', 'cucumber')

In [78]:
veggie_prices[1]

'kale'

## Sets

In [52]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [64]:
type(fruits)

list

In [73]:
fruits.append("cherries")

In [83]:
fruits

['apples', 'pears', 'berries', 4, 'cherries']

In [81]:
set(fruits)

{4, 'apples', 'berries', 'cherries', 'pears'}

Set shows the unique items in the list unordered. Does not show if "pears" appears multiple times

In [82]:
len(set(fruits))

5

## Dictionaries

In [84]:
Lulu = {"name": "Louise",
        "age" : 23,
"likes" : "python",
"dislikes" : "UCloud"}

In [85]:
Lulu["name"]

'Louise'

In [86]:
type("python")

str

In [87]:
for x in range(5):
    print(x)

0
1
2
3
4

In [95]:
fruits

['apples', 'pears', 'bananas', 4, 'cherries']

In [99]:
for fruit in fruits:
    print("I love " + fruit)

I love apples
I love pears
I love bananas
I love bananas
I love cherries

In [98]:
fruits[3]="bananas"

In [118]:
f = ["I love " + x for x in fruits]

In [101]:
fruits

['apples', 'pears', 'bananas', 'bananas', 'cherries']

In [106]:
for x in fruits:
    if x.startswith("p"):
        print("I love " + x)

I love pears

In [123]:
myFavfruits = []
for x in fruits:
    if "p" in x:
        if "r" in x:
            print("I love " + x)
            myFavfruits.append(x)

I love pears

In [124]:
myFavfruits

['pears']